.task {
  padding: 1.6rem 1.4rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  color: var(--gray-100);
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.task input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
}

.task > label {
  height: 2.8rem;
  width: 2.8rem;
  padding: .4rem;
  margin-top: -.4rem;
}

.checkButton {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border:2px solid var(--blue-300);
  border-radius: 50%;
}

.checkButton:hover {
  cursor: pointer;
  background: var(--gray-400);
}

.task p {
  flex: 1;
  word-break: break-all;
  font-size: 1.4rem;
  line-height: 1.4;
  cursor: default;
}

.trash {
  padding: .5rem;
  height: 3rem;
  width: 3rem;
  color: var(--gray-300);
  margin-top: -.5rem;
  border-radius: 4px;
}

.trash:hover {
  background: var(--gray-400);
  color: var(--red);
  cursor: pointer;
}