.header {
  height: 20rem;
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 73.6rem;
  margin: 0 auto;
  margin-top: -2.3rem;
  margin-bottom: 6.4rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 9rem;
  gap: .8rem;
}

input[type="text"] {
  padding: 1.2rem;
  border-radius: 8px;
  color: var(--gray-300);
  line-height: 1.6;
  background: var(--gray-500);
  line-height: 1.4;
  border: 1px solid var(--gray-500);
}

input[type="text"]:focus {
  color: var(--gray-100);
  border: 1px solid var(--purple-500);
}

button[type="submit"] {
  padding: 1.2rem;
  border-radius: 8px;
  font-size: 1.6rem;
  color: var(--gray-100);
  background: var(--blue-500);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  transform: .1s linear;
}

button[type="submit"]:hover {
  background: var(--blue-300);
  cursor: pointer;
}

button[type="submit"] span {
  line-height: 0;
}

.tasks {
  margin-top: 6.4rem;
  cursor: default;
}

.headerTasks {
  display: flex;
  justify-content: space-between;
  color: var(--purple-300);
}

.headerTasks:first-child {
  color: var(--blue-300);
}

.counter {
  display: inline;
  font-size: 1.4rem;
  font-weight: 700;
}

.counter > span {
  text-align: center;
  color: var(--gray-200);
  background: var(--gray-400);
  margin-left: .8rem;
  padding: .2rem .8rem;
  border-radius: 16px;
}

.tasksBox {
  margin-top: 2.4rem;
}

.tasksHasContent {
  transform: scaleY(0);
  position: absolute;
}

.tasksEmpty {
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
  text-align: center;
  padding: 6.4rem 2.4rem;
}

.tasksEmpty  p {
  font-weight: 700;
  color: var(--gray-300);
}

.tasksEmpty span {
  font-weight: 400;
}

.hidden {
  transform: scaleY(0);
}

.show {
  transform: scaleY(1);
  color: var(--gray-300);
  position: absolute;
  padding: 2.4rem 0 0 1.7rem
}

.resetDaily {
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
  border: 2px solid var(--blue-500);
  border-radius: 50%;
}

.resetDaily.checked {
  background: var(--purple-500);
  border: 5px solid var(--blue-300);
}

.colorWhite {
  color: var(--gray-100);
}